.advertItem {
  list-style: none;
  width: 274px;
  height: 426px;
}

.descBox {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 6px;
  width: 270px;
  margin-top: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.descText {
  border-right: 1px solid rgba(18, 20, 23, 0.1);
  padding-right: 6px;

  color: rgba(18, 20, 23, 0.5);

  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.advertTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.advertTitle {
  color: #121417;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  max-width: calc(100% - 40px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advertTitleAccent {
  color: #3470ff;
}

.advertImageContainer {
  position: relative;

  border-radius: 14px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}

.advertImage {
  width: 274px;
  height: 268px;

  border-radius: 14px;

  object-fit: cover;
}

.advertButton {
  margin-top: 28px;
  width: 274px;
  height: 44px;
  padding: 12px 99px;

  border: none;
  border-radius: 12px;
  background-color: #3470ff;
  color: #fff;

  cursor: pointer;
}

.advertButton:hover {
  background-color: #0b44cd;
  border: none;
}

.favoriteIcon {
  fill: #3470ff;

  cursor: pointer;
}

.notFavoriteIcon {
  color: #fff;

  cursor: pointer;
}

.notFavoriteIcon:hover {
  color: #3470ff;
}

.favoriteButton {
  position: absolute;
  top: 14px;
  right: 14px;

  background: none;
  border: none;
}
